.container-fluid{padding:0 10px;zoom:1;}.container-fluid:before,.container-fluid:after{display:table;content:"";}
.container-fluid>.content{width:500px;min-width:500px;max-width:500px;margin-left:0;}
html, body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}
.hidden {
  display:none;
}
.first {
  margin-left:0 !important;
}
ul#entries {
  margin:0;
  padding:0;
}
li.row {
  margin:0 !important;
  padding:10px 5px; !important;
  list-style-type:none;
  border-bottom:1px solid #eee;
}
li.row:hover {
  background-color:whiteSmoke;
}
h3 {
  border-bottom:1px solid #eee;
  margin-bottom:10px;
}
h5 {
  line-height:110%;
  padding:0;
  font-size:13px;
}
h5 small {
  white-space:nowrap;
  color:#999;
  font-size:11px;
}
h5 a {
  color: #404040;
  border-bottom:1px dotted #ccc;
  text-decoration:none;
  cursor:pointer;
}
h5 a:hover {
  color: #000;
  border-bottom:1px solid #000;
  background:#ffc;
  text-decoration:none;
}
#update-status {
  margin-bottom:10px;
}
#update-status textarea {
  width:95%;
  margin-bottom:2px;
}
#last-update {
  margin-bottom:2px;
}
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: #eee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display:block;
  height:0;
  background-color:transparent;
}
::-webkit-scrollbar-thumb:vertical {
  height:30px;
  background-color:#999;
  -webkit-border-radius:5px;
}
::-webkit-scrollbar-thumb:horizontal {
  width:30px;
  background-color:#999;
  -webkit-border-radius:5px;
}
.avatar {
  width:15px !important;
}
.avatar img {
  border-radius:40px;
  box-shadow:rgba(0,0,0,.5) 0 1px 2px;
}
.bubble {
  font-size:11px;
  display:inline;
  color:#fff;
  background-color:darkred;
  padding:1px 4px;
  border:0;
  border-radius:4px;
}
.disabled h5 {
  color: #999 !important;
}
#infscr-loading img {
  display:none;
}
a.link:visited {
  color:#666;
}