<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap-1.2.0.min.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="js/jquery.min.js"></script>

    <script src="js/sugar-0.9.5.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery.infinitescroll.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/popup.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body>
    <script id="entry-tmpl" type="text/x-template">
      <li class="row">
        <a class="link" href="https://extranet.atlassian.com{{=url}}">
          <div class="span1 avatar first">
            <img src="https://extranet.atlassian.com{{=author.avatarUrl}}" width="30" height="30"/>
          </div>
          <div class="span7 entry">
            <h5>
              {{%title}}
              <small class="since">
                {{%friendlyDate}}
                &mdash;
                {{%numberOfComments}} comments
                &mdash;
                {{%numberOfLikes}} likes
              </small>
            </h5>
          </div>
        </a>
      </li>
    </script>
    <script id="last-update-tmpl" type="text/x-template">
      <small><strong>Last update: </strong>{{=text}}</small>
    </script>
    <div class="container-fluid">
      <div class="content">
        <h3><image src="./images/favicon.png" width="20px" style="vertical-align:bottom; margin-bottom:7px;margin-right:5px" />Popular on EAC</h3>
        <ul id="entries">
        </ul>
        <div class="navigation hidden">
          <a id="next-page" href="https://extranet.atlassian.com/rest/popular/1/stream/content?days=1&pageSize=10&nextPageOffset=">Next page &raquo;</a>
        </div>
      </div>

    </div>
  </body>
</html>
